*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Courier New', sans-serif;
    line-height: 2;
}
h1{
    line-height: 1;
}
.bottom-margin{
    margin-bottom: 1rem;
}
.container{
    max-width:700px;
    margin: 0 auto;
    padding:1rem 0;
}
h1{
    font-size:50px;
    color:unset;
}
img{
    width: 100%;                            
    height: 400px;
    object-fit: cover;
}
h2{
    margin-bottom: .5rem;
}
.container-description h2{
    text-align: center;
}
.container-description{
    padding:1rem;
    background-color: bisque;
}
.container-ingredients{
    background-color: #D0F5BE;
    padding:1rem;
}
ul{
    list-style: inside;
}
ol{
    list-style: inside;
    list-style-type:decimal;
}
.container-steps{
    padding:1rem;
    background-color: #98EECC;
}
.container-steps ol li{
    margin-bottom: 1rem;
}
.container-link{
    text-align: center;
}